* {
  box-sizing: border-box;
}


.container {
  display: flex;
  height: 100vh;
}


.spinner {
  margin: auto;
  position: relative;
  animation: blinking 2s linear infinite;
}


.spinner-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  text-transform: uppercase;
}


.rect {
  height: 4px;
  width: 10px;

  border-radius: 2px;
  position: absolute;

  animation: moving 2s infinite alternate;

  background: black;
}