@import 'variables.scss';

.header {
  background: $color-grey;
}

.nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: $unit * 7;
}

.nav-list__item {
  border-radius: $border-radius;
  background: $color-primary;
  color: $text-color-secondary;
  padding: $unit;
  margin-left: $unit;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
