* {
  box-sizing: border-box;
}

.navigation {
  background: #ff7f50;
  min-height: 200px;
  display: flex;
  flex-grow: 1;
  width: 1em;
}

.products-list {
  background: #006400;
  min-height: 200px;
  display: flex;
  flex-grow: 1;
  width: 1em;
}

.news {
  background: #0ff;
  min-height: 200px;
  display: flex;
  flex-grow: 1;
  width: 1em;
}

span {
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
  margin: auto;
  background: #faebd7;
  border-radius: 4px;
}


@media screen and (min-width: 600px) {
  .products {
    display: flex;
    flex-grow: 2;
  }
}

@media screen and (min-width: 900px) {
  .content {
    display: flex;
  }
}
