* {
  box-sizing: border-box;
}

.products {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
}

.navigation {
  background: #ff7f50;
}

.products-list {
  background: #006400;
}

.news {
  background: #0ff;
}

.navigation,
.products-list, 
.news {
  min-height: 200px;
  display: flex;
  flex-grow: 1;
}

span {
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
  margin: auto;
  background: #faebd7;
  border-radius: 4px;
}


@media screen and (min-width: 600px) {
  .products {
    flex-direction: row;
    flex-grow: 2;
  }
}

@media screen and (min-width: 900px) {
  .content {
    flex-direction: row;
  }
}
